@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.body {
    display: grid;
    grid-template-columns: 1fr repeat(12, 70px) 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-auto-flow: row
}

header {
    grid-column-start: 2;
    grid-column-end: 14;
    width: 100%;
    padding: 16px 70px;
    max-width: 1180px;

    .header-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav ul {
            display: flex;
            align-items: center;

            li {
                padding: 20px;

                a {
                    font-family: 'Archivo';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: #4B5567;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;

            .login {
                padding: 20px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #07617D;
                text-decoration: underline;
            }

            #register {
                padding: 15px;
                background-color: #323643;
                border-radius: 8px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }

            #sacola {
                padding-left: 20px;

                span i {
                    font-size: 1.4rem;
                    color: #323643;
                }
            }
        }
    }
}

.banner {
    grid-row-start: 2 / 3;
}

.hero-mais-vendidos {
    .title {
        margin-top: 10vh;
        text-align: center;
    }
    .cards-flex{
        margin: 0px 50px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}