@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.body {
  display: grid;
  grid-template-columns: 1fr repeat(12, 70px) 1fr;
  grid-template-rows: auto;
  gap: 40px;
  grid-auto-flow: row;
}

header {
  grid-column-start: 2;
  grid-column-end: 14;
  width: 100%;
  padding: 10px 0px;
}
header .header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-1 nav ul {
  display: flex;
  align-items: center;
}
header .header-1 nav ul li {
  padding: 20px;
}
header .header-1 nav ul li a {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4B5567;
}
header .header-1 .buttons {
  display: flex;
  align-items: center;
}
header .header-1 .buttons .login {
  padding: 20px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #07617D;
  text-decoration: underline;
}
header .header-1 .buttons #register {
  padding: 15px;
  background-color: #323643;
  border-radius: 8px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
header .header-1 .buttons #sacola {
  padding-left: 20px;
}
header .header-1 .buttons #sacola span i {
  font-size: 1.4rem;
  color: #323643;
}

.banner {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 14;
}
.banner img {
  border-radius: 8px;
}

.hero-mais-vendidos {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 14;
}
.hero-mais-vendidos .title {
  margin-top: 10vh;
  text-align: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #4B5567;
  margin-bottom: 1vh;
}
.hero-mais-vendidos .cards-flex {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-mais-vendidos .cards-flex .card-1 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-1 .text h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-1 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-2 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-2 .text h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-2 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-3 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-3 .text h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-3 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-4 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-4 .text h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.hero-mais-vendidos .cards-flex .card-4 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}

.section-sobre-nos {
  background: #F0F0F0;
  margin-top: 4vh;
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 14;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
.section-sobre-nos img {
  padding: 30px;
}
.section-sobre-nos .text {
  padding: 30px;
  text-align: center;
}
.section-sobre-nos .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 20px;
  color: #4B5567;
}
.section-sobre-nos .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #4B5567;
  margin-top: 50px;
}

.section-ultimas-pecas {
  margin-top: 4vh;
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 14;
}
.section-ultimas-pecas #title {
  text-align: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #4B5567;
}
.section-ultimas-pecas .cards {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-ultimas-pecas .cards .card-1 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-ultimas-pecas .cards .card-1 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-1 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-1 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-2 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-ultimas-pecas .cards .card-2 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-2 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-2 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-3 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-ultimas-pecas .cards .card-3 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-3 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-3 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-4 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-ultimas-pecas .cards .card-4 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-4 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-ultimas-pecas .cards .card-4 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}

.marcas {
  grid-row-start: 6;
  grid-column-start: 2;
  grid-column-end: 14;
}
.marcas #titulo {
  text-align: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #4B5567;
  margin-top: 10vh;
}
.marcas .marcas-imgs {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F0F0F0;
  border-radius: 8px;
}
.marcas .marcas-imgs img {
  padding: 10px 0px;
}

.section-galeria {
  grid-row-start: 7;
  grid-column-start: 2;
  grid-column-end: 14;
}
.section-galeria .titulo {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #4B5567;
  text-align: center;
  margin-top: 15vh;
}
.section-galeria .imgs {
  margin-top: 5vh;
  display: flex;
  align-items: center;
}
.section-galeria .imgs .right {
  flex-direction: column;
}

.section-sneakers {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-column-end: 14;
}
.section-sneakers .title {
  text-align: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #4B5567;
  margin-top: 15vh;
}
.section-sneakers .cards-flex {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-sneakers .cards-flex .card-1 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-sneakers .cards-flex .card-1 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-1 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-1 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-2 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-sneakers .cards-flex .card-2 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-2 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-2 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-3 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-sneakers .cards-flex .card-3 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-3 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-3 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-4 .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-sneakers .cards-flex .card-4 .text h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-4 .text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}
.section-sneakers .cards-flex .card-4 h3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #000000;
}

footer {
  grid-row-start: 9;
  grid-column-start: 1;
  grid-column-end: 15;
  width: 100%;
  background-color: #F0F0F0;
}

/*# sourceMappingURL=style.css.map */
